<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="orbitApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <physics-canvas width="500" height="500">

      <physics-body type="rectangle" body="main.box1" options="{x:450, y:10, vy:-0.3, width:5, height:5}">
      </physics-body>

      <physics-body type="rectangle" body="main.box2" options="{x:250, y:210, vy:-0.3, width:5, height:5}">
      </physics-body>

      <physics-edge-detection min-x="0" min-y="0" max-x="500" max-y="500" restitution="0.3">
      </physics-edge-detection>

      <physics-behavior name="constant-acceleration"></physics-behavior>
      <physics-behavior name="body-impulse-response"></physics-behavior>
      <physics-behavior name="body-collision-detection"></physics-behavior>
      <physics-behavior name="sweep-prune"></physics-behavior>

    </physics-canvas>

    <button ng-click="main.kick()">Kick</button>
    <button ng-click="main.grow()">Grow</button>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/mathjs/dist/math.min.js"></script>
    <script src="bower_components/physicsjs/dist/physicsjs-full.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/services/world.js"></script>
        <script src="scripts/services/ticker.js"></script>
        <script src="scripts/directives/physicscanvas.js"></script>
        <script src="scripts/directives/physicsedgedetection.js"></script>
        <script src="scripts/directives/physicsbehavior.js"></script>
        <script src="scripts/directives/physicsbody.js"></script>
        <!-- endbuild -->
</body>
</html>
